@using TripLogDaAL.Entities
@model IEnumerable<TripLogDaAL.Entities.Trip>

@{
    ViewBag.Title = "My Trip Log";
}

<a asp-action="Add" asp-controller="Trip" class="btn btn-outline-dark"><b>Add Trip</b></a>
@if (Model.Count() != 0)
{
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Destination</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Accommodations</th>
                <th>Things To Do</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (Trip trip in Model)
            {
                <tr>
                    <td>@trip.Destination.DestinationName</td>
                    <td>@trip.StartDate.ToShortDateString()</td>
                    <td>@trip.EndDate.ToShortDateString()</td>
                    <td>
                        @if (trip.Accommodation != null)
                        {
                            <div>@trip.Accommodation.AccommodationName</div>
                            @if (!string.IsNullOrEmpty(trip.Accommodation.AccommodationPhone))
                            {
                                <div>Phone: @trip.Accommodation.AccommodationPhone</div>
                            }
                            @if (!string.IsNullOrEmpty(trip.Accommodation.AccommodationEmail))
                            {
                                <div>Email: @trip.Accommodation.AccommodationEmail</div>
                            }
                        }
                    </td>
                    <td>
                       
                        @if (trip.TripActivities != null)
                        {
                            @foreach (TripActivity ta in trip.TripActivities)
                            {
                                @if (ta.Activity != null)
                                {
                                    <div>@ta.Activity.ActivityName</div>
                                }
                            }
                        }
                        
                    </td>
                    <td>
                        <div><a asp-all-route-data="@(new Dictionary<string, string> { { "tripId", trip.TripId.ToString()} })"  asp-action="Delete" asp-controller="Home" class="btn btn-outline-dark">Delete</a></div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
